@using homework3_4Data
@model HistoryViewModel

<html>
    <body>
<div b-2ya7vgwtda class="container">
    <main b-2ya7vgwtda role="main" class="pb-3" style="margin-top: 60px;">

        <div class="header">
            <h1>History for @Model.Name</h1>
            <h3>Current Balance: @Model.Total.ToString("C")</h3>
        </div>

        <div class="row header">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Action</th>
                        <th>Date</th>
                        <th>Amount</th>
                    </tr>
                    
                        @foreach(History h in Model.History)
                            {
                            <tr>
                                @if(h.Action == "Deposit")
                                {
                                <td>
                                     @h.Action 
                                </td>
                                }
                                else
                                {
                                <td>
                                    Contribution for the @h.Action simcha
                                </td>
                                }
                                
                                <td style="text-align: center; vertical-align: middle;">
                                    @h.Date.ToShortDateString()
                                </td>
                                @if (h.Action == "Deposit")
                                {
                                    <td style="text-align: center; vertical-align: middle;">
                                        @h.Amount.ToString("C")
                                    </td>
                                }
                                else
                                {
                                    <td style="text-align: center; vertical-align: middle;">
                                        -@h.Amount.ToString("C")
                                    </td>
                                }
                                
                            </tr>
                            }                 
                </table>
            </div>
        </div>
        <div style="text-align:center;">
            <a class="btn btn-lg btn-danger" href="/home/contributors">Back to Contributors</a>
        </div>
    </main>
</div>
</body>
</html>

